.display{
    background-color: aqua;
    padding: 65px;
}

.apresentar{
    text-align: center;
    font-size: 40px;
    margin: 100px;
}

.janela{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.empresa1, .empresa2, .empresa3, .empresa4{
    background-color: gray;
    border-radius: 24px;
    padding: 40px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
}

.imagem{
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

.informacoes{
    font-size: 25px;
    padding: 12px;
    border-radius: 24px;
    border: 1px solid black;
}

.saberMais{
    text-align: center;
    padding-top: 30px;
}

.saberMais a{
    background-color: darkblue;
    color: white;
    font-size: 50px;
    border-radius: 24px;
    padding: 12px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
    text-decoration: none;
}