*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-color: blue;
    padding-top: 30px;
    padding-bottom: 30px;
}

.cabeca{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

.buscar{
    display: flex;
    padding-left: 30px;
    gap: 20px;
}

.buscar input{
    background-color: slateblue;
    padding: 12px;
    border-radius: 24px;
    font-size: 25px;
    color: white;
}

.titulo h1{
    text-align: center;
    font-size: 80px;
    padding-left: 40px;
}

.ascinar{
    display: flex;
    padding-right: 40px;
    gap: 20px;
}

.login, .cadastro{
    background-color: slateblue;
    font-size: 25px;
    border-radius: 24px;
    padding: 12px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
    color: white;
    text-decoration: none;
}

ul {
  list-style: disc;
  padding-left: 1.5rem;
}

.secao{
    background-color: aqua;
    padding: 65px;
}

.window{
    display: flex;
    background-color: grey;
    gap: 20px;
    color: white;
    padding: 24px;
    border-radius: 24px;
    border: 5px solid black;
}

.content{
    display: flex;
    transition: transform 0.4s ease;
    scroll-behavior: smooth;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    width: 1200px;
    height: 600px;
    gap: 24px;
}

.imagem{
    display: flex;
    justify-content: center;
}

.proposta, .servicos, .publico, .diretoria, .equipe, .localizacao, .contato{
    background-color: cornflowerblue;
    min-width: 1000px;
    min-height: 900px;
    padding: 12px;
    font-size: 30px;
    line-height: 1.5;
}

.proposta h1, .servicos h1, .publico h1, .diretoria h1, .equipe h1, .localizacao h1, .contato h1{
    color: brown;
}

.diretoria h3, .equipe h3{
    color: darkblue;
}

.fundo{
    background-color: blue;
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 80px;
}